.explore-menu
{
    display: flex;
    margin: 0px 10vw;
    flex-direction: column;
    gap:20px;
}
.explore-menu h1{
    color: #000000;
    font-weight: 800;
    font-size: max(2.5vw, 1.5rem);
    text-decoration: underline;
}
.explore-menu-text>h2{
    font-size: max(2.5vw, 1.5rem);
    color: #262626;
}
.explore-menu-text>p
{
    font-size:max(2vw,1rem);
    color: #262626;

}
.explore-menu-list
{
    display: flex;
    padding: 5px;
    overflow-x: scroll;
    scrollbar-width: none;
    gap:max(1.5vw,20px);
}
.explore-menu-list-item
{
    margin-top: 20px;
}
.explore-menu-list-item>img{
    width:7.5vw;
    min-width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.explore-menu-list-item>p{
    text-align: center;
    font-size: max(2vw,16px);
    margin-top: 10px;
    cursor: pointer;
    padding: max(4px,8px);
    color: #262626;
}
.explore-menu-list-item>img:hover{
    transform: scale(1.1);
    
}
.explore-menu-list-item>p:hover{
    color:white;
    background-color: #1f2a65;
    border-radius: 30px;
}
.explore-menu hr{
    margin: 20px 0px;
    height: 2px;
    border:none;
    border: 1px solid #ff5c00;
}
.explore-menu-list-item>.active{
    border: max(4px,0.8vw) solid #1f2a65;
    padding:2px;
}